<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.jesse.zpush_getui" >

    <application android:usesCleartextTraffic="true">

        <service
            android:name=".GeTuiPushService"
            android:exported="true"
            android:label="PushService"
            android:process=":pushservice" />
        <service
            android:name=".GeTuiIntentService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

    </application>
</manifest>
